In [486]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
r = []; a = [r.append([i.text for i in BeautifulSoup(requests.post('https://www.koreabaseball.com/Record/Player/HitterDetail/Basic.aspx?playerId={}'.format(key)).text, 'html.parser').find_all('li', {'class' : 'odd'})]) for key in pickle.load(open('kbo.pkl', 'rb'))]
ls = [[i.split(":")[1] for i in rs] for rs in r]; col = [i.split(':')[0] for i in r[0]]; df = pd.DataFrame(ls, columns=col)

In [487]:
dollar = float(BeautifulSoup(requests.get('https://search.naver.com/search.naver?where=nexearch&sm=top_hty&fbm=1&ie=utf8&query=%EB%8B%AC%EB%9F%AC+%ED%99%98%EC%9C%A8').text, 'html.parser').find('span', {'class' : 'spt_con'}).text[3:11].replace(',', ''))
for index, i in enumerate(df['입단 계약금']):
    i = i.replace(' ', '')
    if '달러' in i:
        i = int(int(i[:-2]) * dollar)
        df['입단 계약금'][index] = i
    elif '만원' in i:
        i = int(i[:-2]) * 10000
        df['입단 계약금'][index] = i
    else:
        df['입단 계약금'][index] = 0

In [501]:
#df['구단'] = 
#df.iloc[156] = [' 정은재', ' 1991년 12월 31일', ' 192cm/92kg', np.NAN, ' 0 두산 ']
df['구단'] = [i.text for i in BeautifulSoup(requests.post('https://www.koreabaseball.com/Record/Player/HitterDetail/Basic.aspx?playerId={}'.format(key)).text, 'html.parser').find_all(id = 'h4Team')] for key in pickle.load(open('kbo.pkl', 'rb')]

SyntaxError: invalid syntax (<ipython-input-501-e0a8e71879c5>, line 3)

In [ ]:
df2 = pd.concat([df.groupby(['구단'])['입단 계약금'].sum(), df.groupby(['구단'])['입단 계약금'].size()], axis=1)
df2.columns = ['sum', 'count']

df2['mean'] = pd.Series(np.int64(df.groupby(['구단'])['입단 계약금'].sum() / df.groupby(['구단'])['입단 계약금'].size())).values
df2['max'] = df.groupby(['구단'])['입단 계약금'].max().values
df2

In [497]:
df['구단'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[KT 위즈]       92
[SSG 랜더스]     89
[KIA 타이거즈]    89
[LG 트윈스]      88
[한화 이글스]      86
[NC 다이노스]     86
[두산 베어스]      85
[삼성 라이온즈]     84
[롯데 자이언츠]     77
[키움 히어로즈]     68
[고양 히어로즈]     13
Name: 구단, dtype: int64

In [502]:
df

,선수명,생년월일,신장/체중,입단 계약금,지명순위,구단
0,강동연,1992년 12월 18일,195cm/94kg,0,11 두산 육성선수,[NC 다이노스]
1,강진성,1993년 10월 19일,180cm/81kg,70000000,12 NC 4라운드 33순위,[NC 다이노스]
2,강태경,2001년 07월 26일,188cm/95kg,70000000,20 NC 2차 5라운드 41순위,[NC 다이노스]
3,구창모,1997년 02월 17일,183cm/85kg,150000000,15 NC 2차 1라운드 3순위,[NC 다이노스]
4,권법수,1997년 04월 05일,183cm/82kg,50000000,17 NC 2차 6라운드 58순위,[NC 다이노스]
...,...,...,...,...,...,...
852,하주석,1994년 02월 25일,184cm/84kg,300000000,12 한화 1라운드 1순위,[한화 이글스]
853,한승주,2001년 03월 17일,184cm/82kg,110000000,20 한화 2차 2라운드 18순위,[한화 이글스]
854,허관회,1999년 02월 12일,176cm/83kg,30000000,19 한화 2차 9라운드 83순위,[한화 이글스]
855,황영국,1995년 12월 26일,185cm/83kg,200000000,14 한화 1차,[한화 이글스]
856,힐리,1992년 01월 10일,195cm/104kg,353130000,21 한화 자유선발,[한화 이글스]

In [505]:
BeautifulSoup(requests.post('https://www.koreabaseball.com/Record/Player/HitterDetail/Basic.aspx?playerId={}'.format()).text, 'html.parser').find_all('li', {'class' : 'odd'})

NameError: name 'key' is not defined

In [506]:
key

NameError: name 'key' is not defined