In [3]:
import sqlalchemy
import requests
import pandas as pd
import pymysql

# 과제

stock.to_sql(name='daebak_jongmok', con=engine, if_exists='append', index=False)

대상 : 2585 종목

table 명 : deabak_jongmok

컬럼 : code, code_name, date, close, before, open, high, low, trade, ma05, ma20, ma60, ma120

기간 : 네이버 수집시 page 100페이지

주의사항 : NA 삭제, 중복 허용 X

ISU_CD	ISU_SRT_CD	ISU_NM	ISU_ABBRV	ISU_ENG_NM	LIST_DD	MKT_TP_NM	SECUGRP_NM	SECT_TP_NM	KIND_STKCERT_TP_NM	PARVAL	LIST_SHRS

date	close	before	open	high	low	trade	요일

# 주식 데이터

In [6]:
url_post = 'http://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd'
head = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/94.0.4606.71 Safari/537.36"}
payload = {'bld': 'dbms/MDC/STAT/standard/MDCSTAT01901',
'mktId': 'ALL',
'share': '1',
'csvxls_isNo': 'false'}

r2 = requests.post(url_post, headers=head, data=payload)

r2.json()['OutBlock_1'] #딕셔너리는 데이터프레임으로 만들 수 있음

master = pd.DataFrame(r2.json()['OutBlock_1'])

# 최종 코드

In [8]:
stock_url = "https://finance.naver.com/item/sise_day.naver?code={}&page={}"
head = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/94.0.4606.71 Safari/537.36"}
total = []

for i, code in enumerate(master.values[:100]):
    if i % 10 == 0:
        print(f'{i}번째 데이터를 불러오고 있습니다...')
    try:
        nows = []
        for x in range(1, 13):
            r = requests.get(stock_url.format(code[1], x), headers=head)
            now_code = pd.DataFrame(code.reshape(1, 12), columns=['~', 'code', 'code_name', '~', '~', 'date', '~', '~', '~' ,'~', '~', '~'])[['code' ,'code_name']]
            now = pd.read_html(r.text)[0].dropna()
            now['code'] = now_code.code.to_list()[0]
            now['code_name'] = now_code.code_name.to_list()[0]
            nows.append(now)
        df1 = pd.concat(nows)
        df1 = df1.sort_values(by='날짜')
        df1['ma05'] = df1.종가.rolling(5).mean()
        df1['ma20'] = df1.종가.rolling(20).mean()
        df1['ma60'] = df1.종가.rolling(60).mean()
        df1['ma120'] = df1.종가.rolling(120).mean()
        total.append(df1.iloc[-1:])
    except:
        print('error')
daebak = pd.concat(total)
daebak.columns = ['date', 'close', 'before', 'open', 'high', 'low', 'trade', 'code', 'code_name', 'ma05', 'ma20', 'ma60', 'ma120']
daebak

0번째 데이터를 불러오고 있습니다...
10번째 데이터를 불러오고 있습니다...
20번째 데이터를 불러오고 있습니다...
30번째 데이터를 불러오고 있습니다...
40번째 데이터를 불러오고 있습니다...
50번째 데이터를 불러오고 있습니다...
60번째 데이터를 불러오고 있습니다...
70번째 데이터를 불러오고 있습니다...
80번째 데이터를 불러오고 있습니다...
90번째 데이터를 불러오고 있습니다...

,date,close,before,open,high,low,trade,code,code_name,ma05,ma20,ma60,ma120
1,2021.10.08,7550.0,230.0,7900.0,7970.0,7480.0,35594.0,098120,(주)마이크로컨텍솔루션,7590.0,8479.00,8695.333333,7729.416667
1,2021.10.08,877.0,13.0,902.0,902.0,850.0,221995.0,131100,(주)스카이이앤엠,887.8,956.95,1198.283333,1404.100000
1,2021.10.08,7170.0,30.0,7210.0,7360.0,7160.0,259913.0,009520,(주)포스코엠텍,7342.0,7878.00,8315.833333,8715.916667
1,2021.10.08,5690.0,20.0,5790.0,5790.0,5630.0,124442.0,095570,AJ네트웍스보통주,5666.0,5898.50,5999.333333,5864.208333
1,2021.10.08,26300.0,100.0,26350.0,26850.0,25950.0,13340.0,006840,AK홀딩스보통주,26610.0,27087.50,27355.833333,29984.583333
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,2021.10.08,4590.0,145.0,4455.0,4650.0,4420.0,48278.0,123700,SJM보통주,4413.0,4655.75,4964.583333,5248.791667
1,2021.10.08,3520.0,5.0,3630.0,3630.0,3515.0,24422.0,025530,SJM홀딩스보통주,3524.0,3809.50,4194.583333,4422.000000
1,2021.10.08,230500.0,500.0,235000.0,235000.0,228500.0,1461.0,03473K,SK1우선주,232200.0,241375.00,244833.333333,250233.333333
1,2021.10.08,157500.0,3000.0,158000.0,162000.0,155500.0,529266.0,011790,SKC보통주,159400.0,171450.00,163333.333333,152270.833333
1,2021.10.08,145500.0,2500.0,150000.0,150500.0,143500.0,31293.0,018670,SK가스보통주,149100.0,155725.00,129658.333333,120745.833333

In [229]:
daebak.iloc[1,:]

date          2021.10.08
close              877.0
before              13.0
open               902.0
high               902.0
low                850.0
trade           221995.0
code              131100
code_name      (주)스카이이앤엠
ma05               887.8
ma20              956.95
ma60         1198.283333
ma120             1404.1
Name: 1, dtype: object

In [237]:
import pymysql
try:
    con = pymysql.connect(host='3.34.134.218', user='root', port=3306, password='1234',  
                          db='daebak_jongmok', charset='utf8')
    cur = con.cursor()
except Exception as e:
    print (e)

In [238]:
engine = sqlalchemy.create_engine("mysql+mysqldb://root:" + "1234" + "@3.34.134.218/stocks", encoding='utf8')
stock.to_sql(name='daebak_jongmok', con=engine, if_exists='append', index=False)

UnicodeEncodeError: 'charmap' codec can't encode characters in position 76-77: character maps to <undefined>

In [244]:
master

,ISU_CD,ISU_SRT_CD,ISU_NM,ISU_ABBRV,ISU_ENG_NM,LIST_DD,MKT_TP_NM,SECUGRP_NM,SECT_TP_NM,KIND_STKCERT_TP_NM,PARVAL,LIST_SHRS
0,KR7098120009,098120,(주)마이크로컨텍솔루션,마이크로컨텍솔,"Micro Contact Solution Co.,Ltd.",2008/09/23,KOSDAQ,주권,벤처기업부,보통주,500,"8,312,766"
1,KR7131100000,131100,(주)스카이이앤엠,스카이이앤엠,"SKY E&M Co., Ltd.",2011/06/14,KOSDAQ,주권,관리종목(소속부없음),보통주,100,"53,703,566"
2,KR7009520008,009520,(주)포스코엠텍,포스코엠텍,"POSCO M-TECH CO.,LTD.",1997/11/10,KOSDAQ,주권,우량기업부,보통주,500,"41,642,703"
3,KR7095570008,095570,AJ네트웍스보통주,AJ네트웍스,"AJ Networks Co.,Ltd.",2015/08/21,KOSPI,주권,,보통주,"1,000","46,822,295"
4,KR7006840003,006840,AK홀딩스보통주,AK홀딩스,"AK Holdings, Inc.",1999/08/11,KOSPI,주권,,보통주,"5,000","13,247,561"
...,...,...,...,...,...,...,...,...,...,...,...,...
2580,KR7000542001,000547,흥국화재해상보험2우선주(신형),흥국화재2우B,HeungkukFire&MarineIns(2PB),1999/08/09,KOSPI,주권,,신형우선주,"5,000","153,600"
2581,KR7000540005,000540,흥국화재해상보험보통주,흥국화재,HeungkukFire&MarineInsurance,1974/12/05,KOSPI,주권,,보통주,"5,000","64,242,645"
2582,KR7003280005,003280,흥아해운보통주,흥아해운,HeungaShipping,1976/06/29,KOSPI,주권,,보통주,500,"239,125,028"
2583,KR7037440005,037440,희림종합건축사사무소,희림,Heerim Architects & Planners,2000/02/03,KOSDAQ,주권,중견기업부,보통주,500,"13,922,475"
2584,KR7238490007,238490,힘스,힘스,"HIMS CO., LTD.",2017/07/20,KOSDAQ,주권,우량기업부,보통주,500,"11,312,236"

# 시도 및 검증

In [193]:
df1 = pd.concat(total)
df1 = df1[df1['code_name'] == '(주)마이크로컨텍솔루션']
df1 = df1.sort_values(by='날짜')

df1['ma05'] = df1.종가.rolling(5).mean()
df1['ma20'] = df1.종가.rolling(20).mean()
df1['ma60'] = df1.종가.rolling(60).mean()
df1['ma120'] = df1.종가.rolling(120).mean()
df1.iloc[-1:]

,날짜,종가,전일비,시가,고가,저가,거래량,code,code_name,ma05,ma20,ma60,ma120
1,2021.10.08,7550.0,230.0,7900.0,7970.0,7480.0,35594.0,098120,(주)마이크로컨텍솔루션,7590.0,8479.0,8695.333333,7729.416667

In [178]:
datetime.now()

datetime.datetime(2021, 10, 11, 1, 39, 36, 790647)

In [167]:
df1.종가.rolling(5).mean()

1        NaN
2        NaN
3        NaN
4        NaN
5     7590.0
       ...
9     6116.0
10    6162.0
11    6198.0
12    6192.0
13    6170.0
Name: 종가, Length: 120, dtype: float64

In [151]:
now.columns = ['code', 'code_name', 'date', 'close', 'before', 'open', 'high', 'low', 'trade', 'ma05', 'ma20', 'ma60', 'ma120']

ValueError: Length mismatch: Expected axis has 9 elements, new values have 13 elements

In [109]:
now

            날짜      종가   전일비      시가      고가      저가        거래량
1   2021.04.28  1795.0  10.0  1810.0  1825.0  1770.0   713592.0
2   2021.04.27  1805.0   0.0  1825.0  1825.0  1765.0   570676.0
3   2021.04.26  1805.0  70.0  1740.0  1815.0  1705.0  1007158.0
4   2021.04.23  1735.0  10.0  1745.0  1770.0  1710.0   568109.0
5   2021.04.22  1745.0  20.0  1720.0  1775.0  1690.0   828614.0
9   2021.04.21  1725.0  55.0  1765.0  1765.0  1715.0   577617.0
10  2021.04.20  1780.0  45.0  1810.0  1810.0  1745.0  1021765.0
11  2021.04.19  1825.0  35.0  1850.0  1850.0  1805.0   603925.0
12  2021.04.16  1860.0   5.0  1865.0  1870.0  1805.0   611787.0
13  2021.04.15  1865.0   0.0  1835.0  1870.0  1805.0  1026185.0

In [112]:
now_code

     code  code_name
0  131100  (주)스카이이앤엠

In [144]:
now_code.code.to_list()

['131100']

In [145]:
now['code'] = now_code.code.to_list()[0]
now['code_name'] = now_code.code_name.to_list()[0]

In [148]:
now

,날짜,종가,전일비,시가,고가,저가,거래량,code,code_name
1,2021.04.28,1795.0,10.0,1810.0,1825.0,1770.0,713592.0,131100,(주)스카이이앤엠
2,2021.04.27,1805.0,0.0,1825.0,1825.0,1765.0,570676.0,131100,(주)스카이이앤엠
3,2021.04.26,1805.0,70.0,1740.0,1815.0,1705.0,1007158.0,131100,(주)스카이이앤엠
4,2021.04.23,1735.0,10.0,1745.0,1770.0,1710.0,568109.0,131100,(주)스카이이앤엠
5,2021.04.22,1745.0,20.0,1720.0,1775.0,1690.0,828614.0,131100,(주)스카이이앤엠
9,2021.04.21,1725.0,55.0,1765.0,1765.0,1715.0,577617.0,131100,(주)스카이이앤엠
10,2021.04.20,1780.0,45.0,1810.0,1810.0,1745.0,1021765.0,131100,(주)스카이이앤엠
11,2021.04.19,1825.0,35.0,1850.0,1850.0,1805.0,603925.0,131100,(주)스카이이앤엠
12,2021.04.16,1860.0,5.0,1865.0,1870.0,1805.0,611787.0,131100,(주)스카이이앤엠
13,2021.04.15,1865.0,0.0,1835.0,1870.0,1805.0,1026185.0,131100,(주)스카이이앤엠

In [138]:
now_code.code.values()

TypeError: 'numpy.ndarray' object is not callable

In [90]:
pd.DataFrame(code.reshape(1, 12), columns=['~', 'code', 'code_name', '~', '~', 'date', '~', '~', '~' ,'~', '~', '~'])[['code' ,'code_name', 'date']]

     code  code_name        date
0  131100  (주)스카이이앤엠  2011/06/14

In [88]:
code.reshape(1, 12)

array([['KR7131100000', '131100', '(주)스카이이앤엠', '스카이이앤엠',
        'SKY E&M Co., Ltd.', '2011/06/14', 'KOSDAQ', '주권', '관리종목(소속부없음)',
        '보통주', '100', '53,703,566']], dtype=object)

In [85]:
code

array(['KR7131100000', '131100', '(주)스카이이앤엠', '스카이이앤엠',
       'SKY E&M Co., Ltd.', '2011/06/14', 'KOSDAQ', '주권', '관리종목(소속부없음)',
       '보통주', '100', '53,703,566'], dtype=object)

In [77]:
pd.merge(now, code, how='outter',on='날짜')

TypeError: Can only merge Series or DataFrame objects, a <class 'numpy.ndarray'> was passed

In [74]:
code

array(['KR7131100000', '131100', '(주)스카이이앤엠', '스카이이앤엠',
       'SKY E&M Co., Ltd.', '2011/06/14', 'KOSDAQ', '주권', '관리종목(소속부없음)',
       '보통주', '100', '53,703,566'], dtype=object)

In [69]:
total

[            날짜      종가    전일비      시가      고가      저가      거래량
 1   2021.10.08  7550.0  230.0  7900.0  7970.0  7480.0  35594.0
 2   2021.10.07  7780.0  530.0  7290.0  7780.0  7250.0  90165.0
 3   2021.10.06  7250.0  320.0  7570.0  7700.0  7170.0  70338.0
 4   2021.10.05  7570.0  230.0  7600.0  7880.0  7410.0  75793.0
 5   2021.10.01  7800.0  270.0  8070.0  8140.0  7700.0  63533.0
 9   2021.09.30  8070.0   20.0  8080.0  8120.0  7930.0  36865.0
 10  2021.09.29  8090.0   60.0  7980.0  8210.0  7830.0  43255.0
 11  2021.09.28  8030.0  190.0  8180.0  8670.0  8000.0  52302.0
 12  2021.09.27  8220.0  230.0  8450.0  8520.0  8190.0  46535.0
 13  2021.09.24  8450.0  170.0  8580.0  8800.0  8400.0  50402.0,
             날짜      종가    전일비       시가       고가      저가       거래량
 1   2021.09.23  8620.0  360.0   8860.0   8890.0  8300.0   63688.0
 2   2021.09.17  8980.0  200.0   8730.0   8980.0  8700.0   31531.0
 3   2021.09.16  8780.0  210.0   8990.0   9080.0  8710.0   53403.0
 4   2021.09.15  8990.0   10.0   8980.0   9450.0  8890.0   34551.0
 5   2021.09.14  9000.0  150.0   9090.0   9180.0  8950.0   61689.0
 9   2021.09.13  9150.0  130.0   9350.0   9380.0  9060.0   52746.0
 10  2021.09.10  9280.0  200.0   9040.0   9330.0  8940.0   64810.0
 11  2021.09.09  9080.0  210.0   9190.0   9330.0  9020.0   64077.0
 12  2021.09.08  9290.0  310.0   9600.0   9600.0  9240.0   67944.0
 13  2021.09.07  9600.0  220.0  10000.0  10000.0  9420.0  132667.0,
             날짜      종가    전일비      시가       고가      저가       거래량
 1   2021.09.06  9820.0  850.0  9100.0  10200.0  9090.0  522590.0
 2   2021.09.03  8970.0   90.0  8910.0   9050.0  8870.0   44490.0
 3   2021.09.02  8880.0   50.0  8760.0   8970.0  8620.0   50737.0
 4   2021.09.01  8830.0  280.0  9040.0   9110.0  8830.0   90222.0
 5   2021.08.31  9110.0  370.0  8740.0   9180.0  8650.0  112725.0
 9   2021.08.30  8740.0   10.0  8800.0   9000.0  8660.0   50921.0
 10  2021.08.27  8730.0  110.0  8810.0   8830.0  8520.0   74846.0
 11  2021.08.26  8840.0  100.0  8800.0   8880.0  8710.0   81087.0
 12  2021.08.25  8740.0  170.0  8750.0   8950.0  8680.0  107342.0
 13  2021.08.24  8570.0  290.0  8320.0   8760.0  8320.0  132371.0,
             날짜       종가     전일비       시가       고가       저가       거래량
 1   2021.08.23   8280.0   220.0   8140.0   8320.0   7930.0  143312.0
 2   2021.08.20   8060.0   360.0   8420.0   8530.0   8060.0  157543.0
 3   2021.08.19   8420.0  1010.0   9130.0   9270.0   8350.0  322826.0
 4   2021.08.18   9430.0   330.0   9060.0   9670.0   8910.0  171985.0
 5   2021.08.17   9100.0   400.0   9450.0   9450.0   9100.0  182656.0
 9   2021.08.13   9500.0   850.0  10200.0  10250.0   9290.0  455857.0
 10  2021.08.12  10350.0   150.0  10350.0  10500.0  10050.0  126992.0
 11  2021.08.11  10500.0   200.0  10500.0  10850.0  10300.0  159685.0
 12  2021.08.10  10700.0   200.0  10500.0  10750.0   9930.0  240616.0
 13  2021.08.09  10500.0   630.0   9950.0  10900.0   9950.0  548337.0,
             날짜      종가     전일비      시가       고가      저가        거래량
 1   2021.08.06  9870.0   340.0  9530.0  10150.0  9430.0   595462.0
 2   2021.08.05  9530.0  1060.0  8480.0   9890.0  8480.0  1979449.0
 3   2021.08.04  8470.0   120.0  8370.0   8550.0  8370.0    51462.0
 4   2021.08.03  8350.0    40.0  8410.0   8580.0  8300.0    79067.0
 5   2021.08.02  8390.0   330.0  7980.0   8400.0  7900.0   115516.0
 9   2021.07.30  8060.0   170.0  8230.0   8300.0  8000.0    75570.0
 10  2021.07.29  8230.0   110.0  8330.0   8330.0  8100.0    66101.0
 11  2021.07.28  8340.0    20.0  8350.0   8450.0  8200.0    61993.0
 12  2021.07.27  8360.0    40.0  8300.0   8670.0  8230.0   134870.0
 13  2021.07.26  8320.0   200.0  8130.0   8440.0  8120.0   103773.0,
             날짜      종가    전일비      시가      고가      저가       거래량
 1   2021.07.23  8120.0  280.0  7870.0  8190.0  7840.0   97168.0
 2   2021.07.22  7840.0  220.0  7610.0  8000.0  7590.0  111914.0
 3   2021.07.21  7620.0  420.0  7990.0  8000.0  7610.0  144438.0
 4   2021.07.20  8040.0  150.0  7960.0  8120.0  7810.0  119749.0
 5   2021.07.19  8190.0  420.0  8570.0  8570.0  8110.0  155145.0
 9   2021.07.16  8610.0  290.0  8810.0  8850.0  8500.0  124354.0
 10  2021.07.15  8900.0  600.0  8300.0  8900.0  8220.0  229055.0
 11  2021.07.14  8300.0   50.0  8360.0  8430.0  8200.0   79585.0
 12  2021.07.13  8350.0  170.0  8260.0  8430.0  8250.0   72217.0
 13  2021.07.12  8180.0  170.0  7900.0  8350.0  7890.0  118705.0,
             날짜      종가    전일비      시가      고가      저가       거래량
 1   2021.07.09  8010.0   60.0  8000.0  8010.0  7750.0   78962.0
 2   2021.07.08  8070.0   10.0  8060.0  8140.0  7800.0   99359.0
 3   2021.07.07  8060.0  230.0  8590.0  8590.0  8050.0  200751.0
 4   2021.07.06  8290.0  250.0  8040.0  8290.0  7960.0   83782.0
 5   2021.07.05  8040.0  110.0  8150.0  8150.0  8020.0   57952.0
 9   2021.07.02  8150.0   10.0  8140.0  8150.0  7950.0  102034.0
 10  2021.07.01  8140.0  350.0  7790.0  8840.0  7790.0  706581.0
 11  2021.06.30  7790.0  180.0  7610.0  7860.0  7610.0   77624.0
 12  2021.06.29  7610.0  120.0  7730.0  7760.0  7550.0   85851.0
 13  2021.06.28  7730.0   70.0  7810.0  8100.0  7710.0   94837.0,
             날짜      종가    전일비      시가      고가      저가       거래량
 1   2021.06.25  7800.0  260.0  7540.0  8290.0  7520.0  413818.0
 2   2021.06.24  7540.0  270.0  7390.0  7540.0  7240.0   83145.0
 3   2021.06.23  7270.0  320.0  7590.0  7650.0  7260.0  115365.0
 4   2021.06.22  7590.0  100.0  7660.0  7760.0  7400.0   82306.0
 5   2021.06.21  7690.0  270.0  7440.0  7790.0  7300.0  159441.0
 9   2021.06.18  7420.0   50.0  7530.0  7650.0  7360.0   72728.0
 10  2021.06.17  7470.0  120.0  7440.0  7770.0  7370.0  149128.0
 11  2021.06.16  7350.0   30.0  7430.0  7460.0  7270.0   73014.0
 12  2021.06.15  7320.0  270.0  7050.0  7420.0  7010.0  130121.0
 13  2021.06.14  7050.0  160.0  7210.0  7280.0  6970.0  105038.0,
             날짜      종가    전일비      시가      고가      저가        거래량
 1   2021.06.11  7210.0    0.0  7220.0  7240.0  6990.0   151010.0
 2   2021.06.10  7210.0  110.0  7320.0  7400.0  7100.0   162640.0
 3   2021.06.09  7320.0  630.0  7830.0  8020.0  7320.0   398218.0
 4   2021.06.08  7950.0  770.0  7210.0  8630.0  7180.0  2114572.0
 5   2021.06.07  7180.0  300.0  7510.0  7650.0  7180.0   244512.0
 9   2021.06.04  7480.0   80.0  7680.0  7740.0  7480.0   377280.0
 10  2021.06.03  7560.0  740.0  6730.0  8860.0  6730.0  2449068.0
 11  2021.06.02  6820.0  350.0  6460.0  6890.0  6410.0   210572.0
 12  2021.06.01  6470.0   30.0  6580.0  6580.0  6390.0    56474.0
 13  2021.05.31  6440.0  130.0  6310.0  6470.0  6240.0    67397.0,
             날짜      종가    전일비      시가      고가      저가       거래량
 1   2021.05.28  6310.0   40.0  6270.0  6370.0  6230.0   36176.0
 2   2021.05.27  6270.0   30.0  6360.0  6380.0  6150.0   49302.0
 3   2021.05.26  6300.0   30.0  6360.0  6430.0  6240.0   70037.0
 4   2021.05.25  6330.0   10.0  6300.0  6400.0  6210.0   64635.0
 5   2021.05.24  6320.0   90.0  6400.0  6520.0  6160.0  112008.0
 9   2021.05.21  6410.0  190.0  6230.0  6530.0  6220.0  257077.0
 10  2021.05.20  6220.0  320.0  5970.0  6330.0  5920.0  357015.0
 11  2021.05.18  5900.0  370.0  5590.0  6250.0  5590.0  690844.0
 12  2021.05.17  5530.0   50.0  5600.0  5680.0  5500.0   41731.0
 13  2021.05.14  5580.0  190.0  5400.0  5580.0  5400.0   45148.0,
             날짜      종가    전일비      시가      고가      저가      거래량
 1   2021.05.13  5390.0  200.0  5470.0  5550.0  5300.0  62787.0
 2   2021.05.12  5590.0  140.0  5730.0  5750.0  5480.0  69676.0
 3   2021.05.11  5730.0  100.0  5870.0  5880.0  5670.0  41875.0
 4   2021.05.10  5830.0   90.0  5920.0  5990.0  5790.0  53283.0
 5   2021.05.07  5920.0   10.0  5910.0  5980.0  5750.0  56419.0
 9   2021.05.06  5910.0   40.0  5830.0  5950.0  5810.0  50382.0
 10  2021.05.04  5870.0   30.0  5840.0  5890.0  5720.0  38215.0
 11  2021.05.03  5840.0   20.0  5860.0  5990.0  5790.0  44631.0
 12  2021.04.30  5860.0  190.0  5670.0  5910.0  5620.0  82411.0
 13  2021.04.29  5670.0   60.0  5710.0  5810.0  5600.0  77334.0,
             날짜      종가    전일비      시가      고가      저가       거래량
 1   2021.04.28  5730.0  350.0  6030.0  6080.0  5730.0  160453.0
 2   2021.04.27  6080.0   20.0  6110.0  6170.0  6000.0   37085.0
 3   2021.04.26  6100.0   30.0  6070.0  6180.0  6050.0   46719.0
 4   2021.04.23  6070.0  100.0  6140.0  6160.0  5950.0   72253.0
 5   2021.04.22  6170.0   10.0  6160.0  6200.0  6130.0   23827.0
 9   2021.04.21  6160.0  150.0  6290.0  6300.0  6070.0   65230.0
 10  2021.04.20  6310.0   30.0  6280.0  6360.0  6220.0   77754.0
 11  2021.04.19  6280.0  240.0  6030.0  6340.0  5980.0  164212.0
 12  2021.04.16  6040.0   20.0  6050.0  6100.0  5960.0   53356.0
 13  2021.04.15  6060.0   30.0  6030.0  6080.0  5970.0   49223.0,
             날짜     종가   전일비      시가      고가     저가        거래량
 1   2021.10.08  877.0  13.0   902.0   902.0  850.0   221995.0
 2   2021.10.07  890.0  30.0   860.0   895.0  857.0   119970.0
 3   2021.10.06  860.0  29.0   932.0   932.0  852.0   385774.0
 4   2021.10.05  889.0  34.0   920.0   922.0  850.0   362436.0
 5   2021.10.01  923.0   8.0   931.0   948.0  912.0   225831.0
 9   2021.09.30  931.0   1.0   918.0   948.0  918.0   244010.0
 10  2021.09.29  932.0  35.0   967.0   967.0  901.0   369375.0
 11  2021.09.28  967.0  27.0  1000.0  1000.0  960.0   430322.0
 12  2021.09.27  994.0  34.0   960.0   999.0  941.0   572720.0
 13  2021.09.24  960.0  31.0   982.0  1015.0  960.0  1072066.0,
             날짜      종가   전일비      시가      고가      저가        거래량
 1   2021.09.23   991.0  50.0   914.0  1095.0   897.0  4074458.0
 2   2021.09.17   941.0  27.0   968.0   972.0   928.0   643687.0
 3   2021.09.16   968.0   1.0   970.0   977.0   945.0   594948.0
 4   2021.09.15   969.0  21.0   990.0  1030.0   969.0  1083301.0
 5   2021.09.14   990.0   7.0   974.0  1010.0   974.0   658471.0
 9   2021.09.13   983.0   9.0   992.0   998.0   936.0   629478.0
 10  2021.09.10   992.0   5.0  1000.0  1015.0   975.0   812662.0
 11  2021.09.09   997.0  23.0  1005.0  1025.0   993.0   940757.0
 12  2021.09.08  1020.0  45.0  1060.0  1065.0  1005.0   793616.0
 13  2021.09.07  1065.0  30.0  1040.0  1080.0  1030.0  2112624.0,
             날짜      종가    전일비      시가      고가      저가         거래량
 1   2021.09.06  1035.0   40.0   995.0  1035.0   980.0   1373435.0
 2   2021.09.03   995.0   25.0  1010.0  1020.0   976.0   2050294.0
 3   2021.09.02  1020.0   25.0  1030.0  1045.0  1010.0   1784138.0
 4   2021.09.01  1045.0   10.0  1025.0  1070.0   999.0   3346754.0
 5   2021.08.31  1035.0  165.0  1265.0  1305.0   995.0  13424225.0
 9   2021.08.30  1200.0  275.0   927.0  1200.0   926.0  12955887.0
 10  2021.08.27   925.0   28.0   956.0   956.0   915.0    676252.0
 11  2021.08.26   953.0   45.0   935.0   969.0   901.0   1597270.0
 12  2021.08.25   908.0   13.0   896.0   920.0   860.0   1047648.0
 13  2021.08.24   895.0    0.0   942.0   946.0   887.0    934646.0,
             날짜      종가    전일비      시가      고가      저가        거래량
 1   2021.08.23   895.0   49.0   846.0   935.0   846.0  1764372.0
 2   2021.08.20   846.0   30.0   878.0   916.0   830.0  1906478.0
 3   2021.08.19   876.0   64.0   855.0   927.0   848.0  5176576.0
 4   2021.08.18   940.0  400.0  1350.0  1355.0   940.0  9845146.0
 5   2021.08.17  1340.0    0.0  1340.0  1350.0  1295.0   359571.0
 9   2021.08.13  1340.0   10.0  1350.0  1365.0  1300.0   424078.0
 10  2021.08.12  1350.0    0.0  1335.0  1380.0  1325.0   466641.0
 11  2021.08.11  1350.0   15.0  1355.0  1365.0  1325.0   559073.0
 12  2021.08.10  1365.0   60.0  1425.0  1425.0  1335.0   784961.0
 13  2021.08.09  1425.0   80.0  1500.0  1500.0  1385.0  1264388.0,
             날짜      종가    전일비      시가      고가      저가        거래량
 1   2021.08.06  1505.0   20.0  1525.0  1525.0  1480.0   960319.0
 2   2021.08.05  1525.0    5.0  1505.0  1590.0  1495.0  1947985.0
 3   2021.08.04  1520.0   20.0  1575.0  1575.0  1470.0  1688456.0
 4   2021.08.03  1540.0  215.0  1710.0  1715.0  1540.0  4082540.0
 5   2021.08.02  1755.0  135.0  1650.0  1810.0  1570.0  4387723.0
 9   2021.07.30  1620.0    5.0  1645.0  1695.0  1565.0  2486648.0
 10  2021.07.29  1625.0   30.0  1580.0  1635.0  1550.0   940115.0
 11  2021.07.28  1595.0   50.0  1620.0  1640.0  1565.0  1035110.0
 12  2021.07.27  1645.0   15.0  1625.0  1670.0  1570.0  2018756.0
 13  2021.07.26  1630.0   30.0  1600.0  1665.0  1565.0  2305729.0,
             날짜      종가    전일비      시가      고가      저가        거래량
 1   2021.07.23  1600.0  115.0  1485.0  1710.0  1475.0  6758314.0
 2   2021.07.22  1485.0   30.0  1455.0  1520.0  1440.0   749305.0
 3   2021.07.21  1455.0   30.0  1485.0  1495.0  1450.0   360303.0
 4   2021.07.20  1485.0   25.0  1495.0  1505.0  1470.0   468593.0
 5   2021.07.19  1510.0    5.0  1505.0  1515.0  1480.0   353999.0
 9   2021.07.16  1515.0   10.0  1525.0  1530.0  1485.0   471133.0
 10  2021.07.15  1525.0   25.0  1530.0  1530.0  1480.0   601851.0
 11  2021.07.14  1500.0   20.0  1485.0  1550.0  1475.0  1333642.0
 12  2021.07.13  1480.0   25.0  1500.0  1510.0  1460.0   431855.0
 13  2021.07.12  1505.0    0.0  1495.0  1545.0  1470.0   810522.0,
             날짜      종가    전일비      시가      고가      저가        거래량
 1   2021.07.09  1505.0   35.0  1455.0  1515.0  1420.0   730846.0
 2   2021.07.08  1470.0   20.0  1460.0  1490.0  1440.0   703315.0
 3   2021.07.07  1490.0   35.0  1520.0  1520.0  1450.0  1169687.0
 4   2021.07.06  1525.0  100.0  1435.0  1620.0  1355.0  4257374.0
 5   2021.07.05  1625.0   95.0  1595.0  1660.0  1530.0  2868613.0
 9   2021.07.02  1530.0   25.0  1510.0  1560.0  1480.0   872038.0
 10  2021.07.01  1505.0   55.0  1450.0  1505.0  1435.0   603969.0
 11  2021.06.30  1450.0    5.0  1455.0  1480.0  1420.0   515499.0
 12  2021.06.29  1455.0    5.0  1480.0  1480.0  1425.0   631736.0
 13  2021.06.28  1450.0  130.0  1320.0  1505.0  1320.0  2190924.0,
             날짜      종가   전일비      시가      고가      저가        거래량
 1   2021.06.25  1320.0   0.0  1320.0  1345.0  1305.0   373315.0
 2   2021.06.24  1320.0  10.0  1315.0  1345.0  1295.0   603092.0
 3   2021.06.23  1330.0  70.0  1395.0  1395.0  1300.0  1712422.0
 4   2021.06.22  1400.0  30.0  1430.0  1440.0  1400.0   624651.0
 5   2021.06.21  1430.0  40.0  1455.0  1455.0  1415.0   533455.0
 9   2021.06.18  1470.0   0.0  1470.0  1480.0  1440.0   470984.0
 10  2021.06.17  1470.0  30.0  1440.0  1485.0  1430.0   592909.0
 11  2021.06.16  1440.0   5.0  1435.0  1450.0  1420.0   622284.0
 12  2021.06.15  1445.0  45.0  1485.0  1485.0  1420.0  1047159.0
 13  2021.06.14  1490.0  35.0  1525.0  1525.0  1455.0   774369.0,
             날짜      종가   전일비      시가      고가      저가        거래량
 1   2021.06.11  1525.0  25.0  1500.0  1525.0  1475.0   626132.0
 2   2021.06.10  1500.0   0.0  1515.0  1515.0  1475.0   544477.0
 3   2021.06.09  1500.0  40.0  1535.0  1540.0  1495.0   752692.0
 4   2021.06.08  1540.0  35.0  1575.0  1575.0  1520.0   695485.0
 5   2021.06.07  1575.0  10.0  1585.0  1590.0  1545.0   612889.0
 9   2021.06.04  1585.0  20.0  1565.0  1595.0  1520.0  1041119.0
 10  2021.06.03  1565.0  10.0  1565.0  1570.0  1520.0   871426.0
 11  2021.06.02  1575.0   0.0  1575.0  1585.0  1560.0   360482.0
 12  2021.06.01  1575.0  15.0  1590.0  1590.0  1565.0   327015.0
 13  2021.05.31  1590.0  10.0  1610.0  1610.0  1565.0   439029.0,
             날짜      종가    전일비      시가      고가      저가        거래량
 1   2021.05.28  1600.0    5.0  1605.0  1605.0  1550.0   402286.0
 2   2021.05.27  1595.0   25.0  1635.0  1650.0  1570.0   430456.0
 3   2021.05.26  1620.0   55.0  1600.0  1680.0  1565.0  1461030.0
 4   2021.05.25  1565.0   25.0  1560.0  1605.0  1535.0   664421.0
 5   2021.05.24  1590.0   55.0  1630.0  1630.0  1535.0  1070083.0
 9   2021.05.21  1645.0  155.0  1820.0  1820.0  1520.0  4695439.0
 10  2021.05.20  1800.0   20.0  1785.0  1800.0  1730.0   793216.0
 11  2021.05.18  1780.0   30.0  1810.0  1820.0  1760.0   443256.0
 12  2021.05.17  1810.0  100.0  1710.0  1810.0  1695.0  1063714.0
 13  2021.05.14  1710.0    5.0  1705.0  1740.0  1665.0   634090.0,
             날짜      종가   전일비      시가      고가      저가       거래량
 1   2021.05.13  1705.0  45.0  1720.0  1725.0  1675.0  625310.0
 2   2021.05.12  1750.0   0.0  1750.0  1770.0  1705.0  513850.0
 3   2021.05.11  1750.0   5.0  1755.0  1775.0  1720.0  519685.0
 4   2021.05.10  1755.0  45.0  1710.0  1800.0  1705.0  749209.0
 5   2021.05.07  1710.0   0.0  1710.0  1735.0  1700.0  296409.0
 9   2021.05.06  1710.0  10.0  1670.0  1740.0  1670.0  340391.0
 10  2021.05.04  1700.0   0.0  1685.0  1710.0  1605.0  868100.0
 11  2021.05.03  1700.0  40.0  1700.0  1765.0  1690.0  567172.0
 12  2021.04.30  1740.0  30.0  1785.0  1805.0  1715.0  687846.0
 13  2021.04.29  1770.0  25.0  1795.0  1815.0  1760.0  432508.0,
             날짜      종가   전일비      시가      고가      저가        거래량
 1   2021.04.28  1795.0  10.0  1810.0  1825.0  1770.0   713592.0
 2   2021.04.27  1805.0   0.0  1825.0  1825.0  1765.0   570676.0
 3   2021.04.26  1805.0  70.0  1740.0  1815.0  1705.0  1007158.0
 4   2021.04.23  1735.0  10.0  1745.0  1770.0  1710.0   568109.0
 5   2021.04.22  1745.0  20.0  1720.0  1775.0  1690.0   828614.0
 9   2021.04.21  1725.0  55.0  1765.0  1765.0  1715.0   577617.0
 10  2021.04.20  1780.0  45.0  1810.0  1810.0  1745.0  1021765.0
 11  2021.04.19  1825.0  35.0  1850.0  1850.0  1805.0   603925.0
 12  2021.04.16  1860.0   5.0  1865.0  1870.0  1805.0   611787.0
 13  2021.04.15  1865.0   0.0  1835.0  1870.0  1805.0  1026185.0]

In [65]:
jongmok = pd.concat(total)

In [256]:
from datetime import datetime

In [285]:
day = datetime.today().strftime("%Y.%m.%d")
day

'2021.10.08'

In [293]:
jongmok['날짜']

1     2021.10.08
2     2021.10.07
3     2021.10.06
4     2021.10.05
5     2021.10.01
         ...
9     2021.09.30
10    2021.09.29
11    2021.09.28
12    2021.09.27
13    2021.09.24
Name: 날짜, Length: 25804, dtype: object

In [ ]:
jongmok = jongmok[jongmok['날짜'] == '2021.10.08']
jongmok.head()

In [ ]:
master

In [ ]:
merge_outer = pd.merge(jongmok,master, how='inner',on='id')

In [ ]:
master.iloc[:0,:].to_sql(name='day_stock', con=engine, if_exists='append', index=False)

# DB 접속 
try:
    con = pymysql.connect(host='3.34.134.218', user='root', port=3306, password='1234',  
                          db='daebak_jongmok', charset='utf8')
    cur = con.cursor()
except Exception as e:
    print (e)   
sql = 'INSERT INTO daebak_jongmok_stock VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'

cur.execute('desc daebak_jongmok')
#con.commit()