In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
r = []; a = [r.append([i.text for i in BeautifulSoup(requests.post('https://www.koreabaseball.com/Record/Player/HitterDetail/Basic.aspx?playerId={}'.format(key)).text, 'html.parser').find_all('li', {'class' : 'odd'})]) for key in pickle.load(open('kbo.pkl', 'rb'))]
ls = [[i.split(":")[1] for i in rs] for rs in r]; col = [i.split(':')[0] for i in r[0]]; df = pd.DataFrame(ls, columns=col)

In [ ]:
dollar = float(BeautifulSoup(requests.get('https://search.naver.com/search.naver?where=nexearch&sm=top_hty&fbm=1&ie=utf8&query=%EB%8B%AC%EB%9F%AC+%ED%99%98%EC%9C%A8').text, 'html.parser').find('span', {'class' : 'spt_con'}).text[3:11].replace(',', ''))
for index, i in enumerate(df['입단 계약금']):
    i = i.replace(' ', '')
    if '달러' in i:
        i = int(int(i[:-2]) * dollar)
        df['입단 계약금'][index] = i
    elif '만원' in i:
        i = int(i[:-2]) * 10000
        df['입단 계약금'][index] = i
    else:
        df['입단 계약금'][index] = 0

In [ ]:
#df['구단'] = 
#df.iloc[156] = [' 정은재', ' 1991년 12월 31일', ' 192cm/92kg', np.NAN, ' 0 두산 ']
df['구단'] = df['지명순위'].apply(lambda x : x.split(' ')[2])

In [ ]:
df2 = pd.concat([df.groupby(['구단'])['입단 계약금'].sum(), df.groupby(['구단'])['입단 계약금'].size()], axis=1)
df2.columns = ['sum', 'count']

df2['mean'] = pd.Series(np.int64(df.groupby(['구단'])['입단 계약금'].sum() / df.groupby(['구단'])['입단 계약금'].size())).values
df2['max'] = df.groupby(['구단'])['입단 계약금'].max().values
df2