In [1]:
import sqlalchemy

In [ ]:
sqlalchemy.create_engine('mysql+mysqldb://root:' + '1234' + '@')

In [5]:
pip install mysqlclient

Collecting mysqlclient
  Downloading mysqlclient-2.0.3-cp38-cp38-win_amd64.whl (179 kB)
Installing collected packages: mysqlclient
Successfully installed mysqlclient-2.0.3
Note: you may need to restart the kernel to use updated packages.

In [3]:
import sqlalchemy
import requests
import pandas as pd

In [32]:
engine = sqlalchemy.create_engine("mysql+mysqldb://root:" + "1234" + "@52.78.170.250/encore", encoding='utf-8')

In [33]:
head = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/94.0.4606.71 Safari/537.36"}

In [34]:
url = "https://finance.naver.com/item/sise_day.naver?code=018700"

In [35]:
r = requests.get(url, headers=head)

In [36]:
stock = pd.read_html(r.text)[0].dropna()

In [37]:
stock

            날짜      종가    전일비      시가      고가      저가         거래량
1   2021.10.08  4435.0  725.0  3925.0  4775.0  3920.0  25777446.0
2   2021.10.07  3710.0  225.0  3935.0  3990.0  3545.0   7644420.0
3   2021.10.06  3935.0    5.0  3930.0  4050.0  3800.0  10873744.0
4   2021.10.05  3930.0    5.0  4180.0  4350.0  3660.0  25598717.0
5   2021.10.01  3925.0  905.0  3130.0  3925.0  3080.0  41319815.0
9   2021.09.30  3020.0   45.0  3035.0  3130.0  2965.0   1159050.0
10  2021.09.29  2975.0   20.0  2900.0  3035.0  2845.0    787362.0
11  2021.09.28  2995.0   40.0  2915.0  3150.0  2910.0   2982253.0
12  2021.09.27  2955.0   75.0  2925.0  3080.0  2860.0   2126291.0
13  2021.09.24  2880.0   40.0  2925.0  3210.0  2865.0   8723541.0

In [39]:
stock.columns = ['date', 'close', 'before', 'open', 'high', 'low', 'trade']

In [40]:
stock.to_sql(name='stock', con=engine, if_exists='append', index=False)

In [42]:
from datetime import date, datetime

In [47]:
stock['date'] = stock.date.apply(lambda x : datetime.strptime(x, '%Y.%m.%d'))

In [53]:
days = dict(zip(range(0, 7) ,[i + '요일' for i in '월화수목금토일']))

In [54]:
days

{0: '월요일', 1: '화요일', 2: '수요일', 3: '목요일', 4: '금요일', 5: '토요일', 6: '일요일'}

In [56]:
stock['요일'] = stock['date'].apply(lambda x : days[x.weekday()])